<div class="container-scroller">
<app-header></app-header>
      <!-- partial -->
	<div class="container-fluid page-body-wrapper">
     
      <!-- partial:partials/_sidebar.html -->
      <app-sidebar></app-sidebar>
       <div class="main-panel">
        <div class="content-wrapper">
		 <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <h4 class="page-title">Shift Details</h4>
            </div>
          </div>
          <div class="row profile-page">
			
            <div class="col-12">
              <div class="card left-profl">
                <div class="card-body p-0">
				<div class="row">
                  <div class="col-md-4">
					  <div class="profile-header text-white d-none d-md-block bg-chnge-sr">
						<div class="d-flex justify-content-around">
						  <div class="profile-info d-flex justify-content-center align-items-md-center ">
							
						  </div>
						 
						</div>
					  </div>
				  </div>
				  <div class="col-md-8">
                  <div class="profile-body pt-0">
                    <div class="row ">
                      <div class="col-md-6">
                        <div class="tab-content tab-body " id="profile-log-switch ">
                          <div class="tab-pane fade show active " id="user-profile-info ">
                           
								<table class="table table-borderless w-100">
									<tr>
										<td><strong>Title :</strong> Airport Shift</td>
									</tr>
									<tr>
										<td><strong>Type : </strong> <label class="badge badge-info">Ongoing</label></td>
									</tr>
									<tr>
										<td><strong>Location :</strong> 123, Demo Street, California</td>
									</tr>
									<tr>
										<td><strong>Zip Code :</strong> 12345</td>
									</tr>
								</table>
                           
                            </div>
                          </div>
                      </div>
					    <div class="col-md-6">
                        <div class="tab-content tab-body " id="profile-log-switch ">
                          <div class="tab-pane fade show active " id="user-profile-info ">
                           
								<table class="table table-borderless w-100">
									<tr>
										<td><strong>From Date :</strong> 12/10/2018</td>
									</tr>
									<tr>
										<td><strong>To Date :</strong> 22/10/2018</td>
									</tr>
									<tr>
									  <td><strong>Time :</strong> 9:00 - 18:00</td>
									</tr>
								</table>
                           
                            </div>
                          </div>
                      </div>
                       </div>
                  </div>
				   </div>
				 </div>
                </div>
              </div>
            </div>
			
          </div>
      </div> 
           
           <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
            
            </span>
          </div>
        </footer>
      
	  </div>
	  </div>

