<div class="container-scroller">
<app-header></app-header>
<div class="container-fluid page-body-wrapper">
   <app-sidebar></app-sidebar>
   <div class="main-panel">
      <div class="content-wrapper">
         <div class="row mb-4">
            <div class="col-12 d-flex align-items-center justify-content-between">
               <h4 class="page-title">Contact Us</h4>
               <button class="btn btn-primary" (click)="addNewContact(addcontact)"> Add Contact</button>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
               <div class="card">
                  <div class="card-body">
                     <h4 class="card-title">Contact Us</h4>
                     <div class="row">
                        <div class="col-12 table-responsive">
                           <div class="location-main mapadrs">
                             <label>Map Address</label>
                             <div class="row">
                                <div class="col-sm-10">
                                   <input [(ngModel)]="formatted_address" class="form-control mb-20" ngx-google-places-autocomplete [options]='options' #places="ngx-places" (onAddressChange)="handleAddressChange($event)"  (keydown)="onKeydown($event)" style="width: 87%"/>
                                </div>
                                <div class="col-sm-2">
                                   <button title="Update" type="button" class="btn btn-icons btn-rounded btn-success btn-update" data-toggle="modal" (click)="UpdateMainLocation()"><i class="icon-check" data-toggle="tooltip" data-placement="bottom"  data-original-title="Edit"></i></button>
                                    <button title="Cancel" type="button" class="btn btn-icons btn-rounded btn-danger btn-delete" (click)="cancelAddress()"><i class="icon-close" data-toggle="tooltip" data-placement="bottom" data-original-title="Delete"></i></button>
                                </div>
                             </div>
                             
                              
                           </div>
                           <div class="table-input" style='margin:15px; float: right;' >
                              <span>Search By Title:</span><br>
                              <input type='text' placeholder='Type...' (keyup)='updateFilter($event)'/>
                           </div>
                           <table class="table table-striped" [mfData]="rows" #mf="mfDataTable" [mfRowsOnPage]="5">
                           <thead>
                              <tr>
                                 <th>Sr No.#</th>
                                 <th>Icon</th>
                                 <th>
                                    <mfDefaultSorter by="title">Title</mfDefaultSorter>
                                 </th>
                                 <th>
                                    <mfDefaultSorter>Address</mfDefaultSorter>
                                 </th>
                                 <th>
                                    <mfDefaultSorter by="contact">Contact Number</mfDefaultSorter>
                                 </th>
                                 <th>Email</th>
                                 <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                 <th>Actions</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let row of mf.data;let i = index;">
                                 <td>{{i+1}}</td>
                                 <td><i class="icon-{{row.angular_icon}}" data-toggle="tooltip" data-placement="bottom"  data-original-title="Edit"></i></td>
                                 <td>
                                    {{row.title}}
                                 </td>
                                 <td>{{row.address}}, {{row.city}}, {{row.country}}</td>
                                 <td>{{row.contact}}</td>
                                 <td>{{row.email}}</td>
                                 <td>
                                    <a class="ww-table-big-text badge badge-success" *ngIf="row.status == true" (click)="changeStatus(row, false)"  data-toggle="modal" data-target="#change-status" data-placement="bottom" title="Active" data-original-title="View Details">Active</a>
                                    <a class="ww-table-big-text badge badge-danger" *ngIf="row.status == false" (click)="changeStatus(row, true)" data-toggle="modal" data-target="#change-status" data-placement="bottom" title="Inactive" data-original-title="View Details">Inactive</a>
                                 </td>
                                 <td>
                                    <button title="Edit" type="button" class="btn btn-icons btn-rounded btn-warning" data-toggle="modal" (click)="EditContact(row,editcontact)"><i class="icon-pencil" data-toggle="tooltip" data-placement="bottom"  data-original-title="Edit"></i></button>
                                    <button title="Delete" type="button" class="btn btn-icons btn-rounded btn-danger" data-toggle="modal" data-target="#delete-pop" (click)="DeleteContact(row)"><i class="icon-trash" data-toggle="tooltip" data-placement="bottom" data-original-title="Delete"></i></button>
                                 </td>
                              </tr>
                              <tr *ngIf="mf.data?.length == 0">
                                 <td colspan="11">
                                    No record found.
                                 </td>
                              </tr>
                           </tbody>
                           <tfoot>
                              <tr>
                                 <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                 </td>
                              </tr>
                           </tfoot>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- partial:partials/_footer.html -->
         <footer class="footer">
            <div class="container-fluid clearfix">
               <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018. All rights reserved.</span>
               <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed By Indi IT Solutions.
               </span>
            </div>
         </footer>
      </div>
   </div>
</div>

<ng-template #editcontact let-c="close" let-d="dismiss">
   <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Contact Details </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form [formGroup]="authForm" (ngSubmit)="UpdateContactInfo()">
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Title</label>
               <input type="name" class="form-control" placeholder="Enter title" formControlName="title" [ngClass]="(authForm.controls.title.hasError('required') && authForm.controls.title.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.title.hasError('required') &&    authForm.controls.title.touched">
                  <p style="color:#f70101 !important;">Sorry, field Title is required!</p>
               </span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Contact Number</label>
               <input type="name" class="form-control" placeholder="Enter contact number" formControlName="contact" [ngClass]="(authForm.controls.contact.hasError('required') && authForm.controls.contact.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.contact.hasError('required') &&    authForm.controls.contact.touched">
                  <p style="color:#f70101 !important;">Sorry, field Contact Number is required!</p>
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Address</label>
               <input type="name" class="form-control" placeholder="Enter address" formControlName="address" [ngClass]="(authForm.controls.address.hasError('required') && authForm.controls.address.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.address.hasError('required') &&    authForm.controls.address.touched">
                  <p style="color:#f70101 !important;">Sorry, field Address is required!</p>
               </span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="name" class="form-control" placeholder="Enter email" formControlName="email" [ngClass]="(authForm.controls.email.hasError('required') && authForm.controls.email.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.email.hasError('required') &&    authForm.controls.email.touched">
                  <p style="color:#f70101 !important;">Sorry, field Email is required!</p>
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">City</label>
               <input type="name" class="form-control" placeholder="Enter city" formControlName="city" [ngClass]="(authForm.controls.city.hasError('required') && authForm.controls.city.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.city.hasError('required') &&    authForm.controls.city.touched">
                  <p style="color:#f70101 !important;">Sorry, field City is required!</p>
               </span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">State</label>
               <input type="name" class="form-control" placeholder="Enter state" formControlName="state" [ngClass]="(authForm.controls.state.hasError('required') && authForm.controls.state.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.state.hasError('required') &&    authForm.controls.state.touched">
                  <p style="color:#f70101 !important;">Sorry, field State is required!</p>
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Country</label>
               <input type="name" class="form-control" placeholder="Enter country" formControlName="country" [ngClass]="(authForm.controls.country.hasError('required') && authForm.controls.country.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.country.hasError('required') &&    authForm.controls.country.touched">
                  <p style="color:#f70101 !important;">Sorry, field Country is required!</p>
               </span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Zip Code</label>
               <input type="name" class="form-control" placeholder="Enter zip code" formControlName="zipcode" [ngClass]="(authForm.controls.zipcode.hasError('required') && authForm.controls.zipcode.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.zipcode.hasError('required') &&    authForm.controls.zipcode.touched">
                  <p style="color:#f70101 !important;">Sorry, field Zip Code is required!</p>
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Choose Icons</label>
               <label class="switch block">
               </label>
               <div class="icon-hori">
                   <i class="icon-location-pin icon-style" (click)="selectIcon('location-pin')" [ngClass]="selectIconValue == 'location-pin'? 'icon-style-selected' : ''" ></i>
                  <i class="icon-compass icon-style" (click)="selectIcon('compass')" [ngClass]="selectIconValue == 'compass'? 'icon-style-selected' : ''"> </i>
                  <i class="icon-cursor icon-style" (click)="selectIcon('cursor')" [ngClass]="selectIconValue == 'cursor'? 'icon-style-selected' : ''"></i>
                  <i class="icon-map icon-style" (click)="selectIcon('map')" [ngClass]="selectIconValue == 'map'? 'icon-style-selected' : ''"></i>
                  <i class="icon-globe icon-style" (click)="selectIcon('globe')" [ngClass]="selectIconValue == 'globe'? 'icon-style-selected' : ''"></i>
                  <i class="icon-home icon-style" (click)="selectIcon('home')" [ngClass]="selectIconValue == 'home'? 'icon-style-selected' : ''"></i>
               </div>
              
            </div>
         </div>
      </div>
      <button  class="btn btn-danger" type="button" style="float: right;" (click)="closeModal()">Cancel</button>
      <button  [disabled]="!authForm.valid" class="btn btn-primary mr-10" type="submit" style="float: right;">Save</button>
      </form>
   </div>
   <div class="modal-footer">
   </div>
</ng-template>

<ng-template #addcontact let-c="close" let-d="dismiss">
   <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add New Contact</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form [formGroup]="authForm" (ngSubmit)="AddContactInfo()">
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Title</label>
               <input type="name" class="form-control" placeholder="Enter title" formControlName="title" [ngClass]="(authForm.controls.title.hasError('required') && authForm.controls.title.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.title.hasError('required') &&    authForm.controls.title.touched">
                  <p style="color:#f70101 !important;">Sorry, field Title is required!</p>
               </span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Contact Number</label>
               <input type="name" class="form-control" placeholder="Enter contact number" formControlName="contact" [ngClass]="(authForm.controls.contact.hasError('required') && authForm.controls.contact.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.contact.hasError('required') &&    authForm.controls.contact.touched">
                  <p style="color:#f70101 !important;">Sorry, field Contact Number is required!</p>
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="name" class="form-control" placeholder="Enter email" formControlName="email" [ngClass]="(authForm.controls.email.hasError('required') && authForm.controls.email.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.email.hasError('required') &&    authForm.controls.email.touched">
                  <p style="color:#f70101 !important;">Sorry, field Email is required!</p>
               </span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Address</label>
               <input type="name" class="form-control" placeholder="Enter address" formControlName="address" [ngClass]="(authForm.controls.address.hasError('required') && authForm.controls.address.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.address.hasError('required') &&    authForm.controls.address.touched">
                  <p style="color:#f70101 !important;">Sorry, field Address is required!</p>
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">City</label>
               <input type="name" class="form-control" placeholder="Enter city" formControlName="city" [ngClass]="(authForm.controls.city.hasError('required') && authForm.controls.city.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.city.hasError('required') &&    authForm.controls.city.touched">
                  <p style="color:#f70101 !important;">Sorry, field City is required!</p>
               </span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">State</label>
               <input type="name" class="form-control" placeholder="Enter state" formControlName="state" [ngClass]="(authForm.controls.state.hasError('required') && authForm.controls.state.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.state.hasError('required') &&    authForm.controls.state.touched">
                  <p style="color:#f70101 !important;">Sorry, field State is required!</p>
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Country</label>
               <input type="name" class="form-control" placeholder="Enter country" formControlName="country" [ngClass]="(authForm.controls.country.hasError('required') && authForm.controls.country.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.country.hasError('required') &&    authForm.controls.country.touched">
                  <p style="color:#f70101 !important;">Sorry, field Country is required!</p>
               </span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Zip Code</label>
               <input type="name" class="form-control" placeholder="Enter zip code" formControlName="zipcode" [ngClass]="(authForm.controls.zipcode.hasError('required') && authForm.controls.zipcode.touched )? 'has-error' : ''">
               <span *ngIf="authForm.controls.zipcode.hasError('required') &&    authForm.controls.zipcode.touched">
                  <p style="color:#f70101 !important;">Sorry, field Zip Code is required!</p>
               </span>
            </div>
         </div>
      </div>
     <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Choose Icons</label>
               <label class="switch block">
               </label>
               <div class="icon-hori">
                   <i class="icon-location-pin icon-style" (click)="selectIcon('location-pin')" [ngClass]="selectIconValue == 'location-pin'? 'icon-style-selected' : ''" ></i>
                  <i class="icon-compass icon-style" (click)="selectIcon('compass')" [ngClass]="selectIconValue == 'compass'? 'icon-style-selected' : ''"> </i>
                  <i class="icon-cursor icon-style" (click)="selectIcon('cursor')" [ngClass]="selectIconValue == 'cursor'? 'icon-style-selected' : ''"></i>
                  <i class="icon-map icon-style" (click)="selectIcon('map')" [ngClass]="selectIconValue == 'map'? 'icon-style-selected' : ''"></i>
                  <i class="icon-globe icon-style" (click)="selectIcon('globe')" [ngClass]="selectIconValue == 'globe'? 'icon-style-selected' : ''"></i>
                  <i class="icon-home icon-style" (click)="selectIcon('home')" [ngClass]="selectIconValue == 'home'? 'icon-style-selected' : ''"></i>
               </div>
              
            </div>
         </div>
      </div>
      <button  class="btn btn-danger" type="button" style="float: right;" (click)="closeModal()">Cancel</button>
      <button  [disabled]="!authForm.valid" class="btn btn-primary mr-10" type="submit" style="float: right;">Save</button>
      </form>
   </div>
   <div class="modal-footer">
   </div>
</ng-template>

<div class="modal fade" id="delete-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <h5> Are you sure, you want to delete it ? </h5>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteContact(contact)">Yes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="change-status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <h5> Are you sure, you want to change status? </h5>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Changestatus(contact, status)">Yes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
         </div>
      </div>
   </div>
</div>



